<h1>Tasks</h1>

<table border="1">
    <tr>
        <td>Title (Click to update)</td>
        <td>Description</td>
        <td>Status</td>
        <td>Created Date</td>
        <td>Delete</td>
    </tr>

    {% for each_task in task_temp %}
    <tr>
        <td><a href="update/{{ each_task.id }}">{{ each_task.title }}</a></td>
        <td>{{ each_task.description }}</td>
        <td><a href="change_status/{{ each_task.id }}">{{ each_task.status }}</a></td>
        <td>{{ each_task.created_date }}</td>
        <td><a href="delete/{{ each_task.id }}">delete</a></td>
    </tr>
    {% endfor %}
</table>

<p>
    <a href="add/">Add task</a>
</p>